body{
    font-family: 'Domine', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;
    margin: 0;
}

span{
    color: rgb(146, 96, 2);
}

.flexible{
    display: flex;
}

h1{
    font-weight: 800;
    font-size: 50px;
}

.half-width{
    width: 40%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.half-width img{
    width: 90%;
}

.top-image{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.middle-image{
    background-image: url(images/right-banner.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8%;
}

.bottom-image{
    background-image: url(images/left-banner.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
}

.button-link{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(rgb(221, 153, 5),rgb(107, 70, 2));
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 5px;
}

#experience-heading{
    margin-left: 5%;
}
.experience-boxs{
    box-shadow: 10px 10px 30px salmon;
    margin: 6%;
    border-radius: 2%;
    border-left: 10px solid;
}

.full-stack{
    border-image: linear-gradient(salmon,red);
    border-image-slice: 1;
}

.baby-web{
    border-image: linear-gradient(red,salmon);
    border-image-slice: 1;
}

footer{
    text-align: center;
}

